/* 
---------------------------------------------
Profile Style
--------------------------------------------- 
*/

.main-profile {
    border-radius: var(--border-redius-primary);
    padding: calc(var( --padding-primary)/2);
    background-color:var( --color-darkest);
  }
  
  .main-profile .main-info span {
    font-size: 14px;
    color: #fff;
    background-color: #e75e8d;
    padding: 8px 20px;
    display: inline-block;
    border-radius: var(--border-redius-primary);
    font-weight: var(--font-weight-normal);
    text-transform: capitalize;
    letter-spacing: 0.9px;
    margin-bottom: 15px;
    font-family: var(--font-family);
  }
  
  .main-profile .main-info h4 {
    margin-bottom: 20px;
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
  }

  .main-profile .main-info p {
    margin-bottom: 20px;
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    color: #666;
  }
  
  .main-profile .main-info .main-border-button {
    margin-top: 25px;
  }
  
  .main-profile ul {
    border-radius: 23px;
    padding: 30px;
    background-color: #27292a;
  }
  
  .main-profile ul li {
    width: 100%;
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #666;
  }
  .main-profile img{
    border-radius: var(--border-redius-primary);
  }
  
  .main-profile ul li span {
    float: right;
    font-weight: 500;
    color: #ec6090;
  }
  
  .main-profile ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  
  .clips {
    margin-top: 30px;
    border-top: 2px solid #27292a;
  }
  
  .clips .heading-section {
    margin-top: 30px;
  }

  .clips .heading-section h4{
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
    font-size: 40px;
    
  }
  .clips .heading-section h4 span{
    color: var(--color-primary)
    
  }
  
  .clips .item  {
    border-radius: 23px;
    padding: 30px 15px;
    background-color: #27292a;
    margin-bottom: 30px;
  }
  
  .clips .item .thumb {
    position: relative;
    margin-bottom: 15px;
  }
  
  .clips .item .thumb a {
    position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-23px, -23px);
      width: 46px;
      height: 46px;
      background-color: #fff;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      line-height: 46px;
      color: #ec6090;
  }
  
  .clips .item h4 {
    font-size: 15px;
    display: inline-block;
  }
  
  .clips .item span i {
    color: #ec6090;
  }
  
  .clips .item span {
    float: right;
    color: #fff;
    font-size: 14px;
  }
  
  .clips .main-button {
    margin-top: 10px;
    text-align: center;
  }

  