
.card-wrapper{
    background-color: var(--color-dark);
    border-radius: calc(var(--border-redius-primary)/2);
    padding: calc(var(--padding-primary)/2);
    margin: calc(var(--margin-primary)/5);
}

.most-popular-item{
    flex: 1 25%;
}

.most-popular-item-image{
    width: 100%;
    border-radius: calc(var(--border-redius-primary)/4);
    margin-bottom: calc(var(--margin-primary)/2);

}

.most-popular-item-content{
    display: flex;
    justify-content: space-between;
}

.most-popular-item-title{
    font-size: 18px;
    line-height: 1.5rem;
}

.category{
    color: rgb(115, 114, 114);
}
.icon{
    margin: calc(var(--margin-primary)/5);   
}

.download{
    color: var(--color-primary);
    cursor: pointer;
    transition: all .3s;
}

.download:hover{
    color: var(--color-light);
}

.star{   
    color: var(--color-staricon);
}


