
/* 
---------------------------------------------
Featured Banner Style
--------------------------------------------- 
*/

.feature-banner .thumb {
    position: relative;
    max-height: 305px;
    overflow: hidden;
    border-radius: 23px;;
  }
  
  .feature-banner .thumb a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-23px, -23px);
    width: 46px;
    height: 46px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 46px;
    color: #ec6090;
  }
  
  /* 
  ---------------------------------------------
  Game Details Style
  --------------------------------------------- 
  */
  
  .game-details h2 {
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    margin: 60px 0px;
    font-weight: bold;
  }
  
  .game-details .content {
    border-radius: 23px;
    padding: 30px;
    background-color: #1f2122;
  }
  
  .game-details .content .left-info {
    background-color: #27292a;
    border-radius: 23px;
    padding: 30px;
    margin-bottom: 30px;
  }
  
  .game-details .content .left-info .left {
    float: left;
  }
  
  .game-details .content .left-info h4 {
    font-size: 18px;
    display: block;
  }
  
  .game-details .content .left-info span {
    color: #666;
    display: block;
    margin-top: 7px;
    font-weight: 400;
    font-size: 18px;
  }
  
  .game-details .content .left-info ul {
    text-align: right;
  }
  
  .game-details .content .left-info ul li {
    color: #fff;
    font-size: 18px;
    margin-bottom: 6px;
  }
  
  .game-details .content .left-info ul li:first-child i {
    color: yellow;
  }
  
  .game-details .content .left-info ul li:last-child i {
    color: #ec6090;
  }
  
  .game-details .content .right-info {
    background-color: #27292a;
    border-radius: 23px;
    padding: 45px;
    margin-bottom: 30px;
    
  }
  
  .game-details .content .right-info ul li {
    display: inline-block;
    width: 23%;
    text-align: center;
    font-size: 20px;
    color: #fff;
  }
  
  .game-details .content .right-info ul li i {
    display: block;
    margin-bottom: 12px;
  }
  
  .game-details .content .right-info ul li:first-child i {
    color: yellow;
  } 
  
  .game-details .content .right-info ul li i {
    color: #ec6090;
  }
  
  .game-details .main-border-button {
    margin-top: 35px;
  }
  
  .game-details .main-border-button a {
    text-align: center;
    width: 100%;
  } 

  .image-details{
    border-radius: 23px;
    width: 100%;
  }

  .detailsimg{
    border-radius: 23px; margin-bottom: 30px;
    width: 100%;
  }
  .main-border-button a {
    text-decoration: none;
    display: block;
}